<%= form_with(model: [:volunteer, @attendance_list], class: "space-y-6") do |f| %>
  <div class="form-group">
    <%= f.label :list_type, "Type de liste" %>
    <%= f.select :list_type, DailyAttendanceList.list_types.keys.map { |t| [t.humanize, t] } %>
  </div>

  <div class="form-group">
    <%= f.label :title, "Titre" %>
    <%= f.text_field :title, 
                     placeholder: "ex: Réunion du conseil d'administration" %>
  </div>

  <div class="form-group">
    <%= f.label :date, "Date" %>
    <%= f.date_field :date %>
  </div>

  <div class="form-group">
    <%= f.label :description, "Description/Raison" %>
    <%= f.text_area :description, 
                    placeholder: "Raison de la création de cette liste..." %>
  </div>

  <%= f.submit "Créer la liste", class: "btn btn-primary" %>
<% end %> 